@(ships: List[models.Ship])

@main("Choose ships - X-Wing", "x-wing-choose-ships") {

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Choose ships</h1>
            <form class="ship-list__form" action="/hud">
                @for(ship <- ships) {
                    <p class="ship-list__item">
                        <input type="checkbox" id="@ship.code" name="@ship.code" value="1" />
                        <label for="@ship.code">@ship.name</label>
                    </p>
                }
                <div class="ship-list__item"></div>
                <div class="ship-list__item"></div>
                <div class="ship-list__item"></div>
                <div class="ship-list__button">
                    <button class="btn btn-large" type="submit">Launch!</button>
                </div>
            </form>
        </div>
    </div>
</div>

}
