@(ships: List[models.Ship])

@import logic.Manoeuvres

@main("HUD - X-Wing", "x-wing-hud") {

<div class="container">
    <div class="row">
    @for(ship <- ships) {
        <div class="col m6">
            <p>@ship.name</p>
            @defining(Manoeuvres.grid(ship.manoeuvres)) { grid =>
                <table class="bordered centered">
                    <tbody>
                        @for((speed, row) <- grid.rows) {
                            <tr>
                                <td class="hud--speed">@speed</td>
                                @if(grid.hasLeftTallonRoll) {
                                    @row.leftTallonRoll.map { colour =>
                                        <td class="@Manoeuvres.colourCode(colour)-text">TR</td>
                                    }.getOrElse {
                                        <td></td>
                                    }
                                }
                                @if(grid.hasLeftSLoop) {
                                    @row.leftSLoop.map { colour =>
                                        <td class="@Manoeuvres.colourCode(colour)-text">SL</td>
                                    }.getOrElse {
                                        <td></td>
                                    }
                                }
                                @if(grid.hasLeftTurn) {
                                    @row.leftTurn.map { colour =>
                                        <td class="@Manoeuvres.colourCode(colour)-text">LT</td>
                                    }.getOrElse {
                                        <td></td>
                                    }
                                }
                                @if(grid.hasLeftBank) {
                                    @row.leftBank.map { colour =>
                                        <td class="@Manoeuvres.colourCode(colour)-text">LB</td>
                                    }.getOrElse {
                                        <td></td>
                                    }
                                }
                                @if(grid.hasStraight) {
                                    @if(row.straight.isDefined) {
                                        @row.straight.map { colour =>
                                            <td class="@Manoeuvres.colourCode(colour)-text">|</td>
                                        }
                                    }
                                    @if(row.stop.isDefined) {
                                        @row.stop.map { colour =>
                                            <td class="@Manoeuvres.colourCode(colour)-text">0</td>
                                        }
                                    }
                                    @if(row.stop.isEmpty && row.straight.isEmpty) {
                                        <td></td>
                                    }
                                }
                                @if(grid.hasRightBank) {
                                    @row.rightBank.map { colour =>
                                        <td class="@Manoeuvres.colourCode(colour)-text">RB</td>
                                    }.getOrElse {
                                        <td></td>
                                    }
                                }
                                @if(grid.hasRightTurn) {
                                    @row.rightTurn.map { colour =>
                                        <td class="@Manoeuvres.colourCode(colour)-text">RT</td>
                                    }.getOrElse {
                                        <td></td>
                                    }
                                }
                                @if(grid.hasRightSLoop) {
                                    @row.rightSLoop.map { colour =>
                                        <td class="@Manoeuvres.colourCode(colour)-text">SL</td>
                                    }.getOrElse {
                                        <td></td>
                                    }
                                }
                                @if(grid.hasRightTallonRoll) {
                                    @row.rightTallonRoll.map { colour =>
                                        <td class="@Manoeuvres.colourCode(colour)-text">TR</td>
                                    }.getOrElse {
                                        <td></td>
                                    }
                                }
                                @if(grid.hasKTurn) {
                                    @row.kTurn.map { colour =>
                                        <td class="@Manoeuvres.colourCode(colour)-text">K</td>
                                    }.getOrElse {
                                        <td></td>
                                    }
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    }
    </div>
</div>

}
