@(ships: List[models.Ship])

@import logic.Manoeuvres

@main("HUD - X-Wing", "x-wing-hud") {

<div class="container">
    <div class="maneuver-grid__container">
    @for(ship <- ships) {
        <div class="maneuver-grid__item">
            @defining(Manoeuvres.grid(ship.manoeuvres)) { grid =>
                <table class="bordered centered maneuver-grid__table grey">
                    <caption class="maneuver-grid__title">@ship.name</caption>
                    <tbody>
                        @for((speed, row) <- grid.rows) {
                            <tr>
                                <td class="hud--speed">@speed</td>
                                @if(grid.hasLeftTallonRoll) {
                                    @row.leftTallonRoll.map { colour =>
                                        <td class="@Manoeuvres.colourCode(colour)-text">TR</td>
                                    }.getOrElse {
                                        <td></td>
                                    }
                                }
                                @if(grid.hasLeftSLoop) {
                                    @row.leftSLoop.map { colour =>
                                        <td class="@Manoeuvres.colourCode(colour)-text">SL</td>
                                    }.getOrElse {
                                        <td></td>
                                    }
                                }
                                @if(grid.hasLeftTurn) {
                                    @row.leftTurn.map { colour =>
                                        <td class="@Manoeuvres.colourCode(colour)-text arrow">↰</td>
                                    }.getOrElse {
                                        <td></td>
                                    }
                                }
                                @if(grid.hasLeftBank) {
                                    @row.leftBank.map { colour =>
                                        <td class="@Manoeuvres.colourCode(colour)-text arrow">↖</td>
                                    }.getOrElse {
                                        <td></td>
                                    }
                                }
                                @if(grid.hasStraight) {
                                    @if(row.straight.isDefined) {
                                        @row.straight.map { colour =>
                                            <td class="@Manoeuvres.colourCode(colour)-text arrow">🠙</td>
                                        }
                                    }
                                    @if(row.stop.isDefined) {
                                        @row.stop.map { colour =>
                                            <td class="@Manoeuvres.colourCode(colour)-text arrow">⬛</td>
                                        }
                                    }
                                    @if(row.stop.isEmpty && row.straight.isEmpty) {
                                        <td></td>
                                    }
                                }
                                @if(grid.hasRightBank) {
                                    @row.rightBank.map { colour =>
                                        <td class="@Manoeuvres.colourCode(colour)-text arrow">↗</td>
                                    }.getOrElse {
                                        <td></td>
                                    }
                                }
                                @if(grid.hasRightTurn) {
                                    @row.rightTurn.map { colour =>
                                        <td class="@Manoeuvres.colourCode(colour)-text arrow">↱</td>
                                    }.getOrElse {
                                        <td></td>
                                    }
                                }
                                @if(grid.hasRightSLoop) {
                                    @row.rightSLoop.map { colour =>
                                        <td class="@Manoeuvres.colourCode(colour)-text">SL</td>
                                    }.getOrElse {
                                        <td></td>
                                    }
                                }
                                @if(grid.hasRightTallonRoll) {
                                    @row.rightTallonRoll.map { colour =>
                                        <td class="@Manoeuvres.colourCode(colour)-text">TR</td>
                                    }.getOrElse {
                                        <td></td>
                                    }
                                }
                                @if(grid.hasKTurn) {
                                    @row.kTurn.map { colour =>
                                        <td class="@Manoeuvres.colourCode(colour)-text arrow k-turn">⮏</td>
                                    }.getOrElse {
                                        <td></td>
                                    }
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    }
    </div>
</div>

}
